{% extends 'base.html.twig' %}
{% block title %}Welcome
{% endblock %}
{% block main %}
    <div>
        <h1>Let's Explore Symfony 4</h1>
        <p class="lead">Welcome to the site.</p>
    </div>
{% endblock %}
